<% if active_scaffold_config.list.pagination -%>
<div class="active-scaffold-footer">
<% unless @active_scaffold_page.pager.infinite? -%>
  <div class="active-scaffold-found"><span class="active-scaffold-records"><%= @active_scaffold_page.pager.count -%></span> <%=as_(:found, :count => @active_scaffold_page.pager.count) %></div>
<% end -%>
  <div class="active-scaffold-pagination">
    <%= render :partial => 'list_pagination_links', :locals => { :current_page => @active_scaffold_page } if @active_scaffold_page.pager.infinite? || @active_scaffold_page.pager.number_of_pages > 1 %>
  </div>
  <br clear="both" /><%# a hack for the Rico Corner problem %>
</div>
<% end -%>
